<?xml version="1.0"?>
<log4net>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="C:\Logs\Ensco\App\WIM\Info.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <maximumFileSize value="100000"/>
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <!--<param name="conversionPattern" value="%date %logger - %message%newline"/>//-->
      <param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd hh:mm:ss} - %m%n" />
    </layout>
    <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock" />
  </appender>
  <root>
    <level value="DEBUG"/>
    <appender-ref ref="RollingLogFileAppender"/>
  </root>
</log4net>